*{
  font-family: "Helvetica", sans-serif;
}

.logo{
  position: absolute;
  left: 45px;
  top: -10px;
}
.wave2 {

  position: absolute;
  left: 0;
  top: 0;
  left: 0;
  z-index: 3;
}
.title{
  position: absolute;
  text-align: right;
  right: 110px;
  top: 100px;
  font-style: normal;
  font-weight: 110px;
  font-size: 55px;
  line-height: px;
  color: #571F4E;
  clear: left;
}

.subtitle{
  position: absolute;
  text-align: right;
  right: 70px;
  top: 70px;
  font-style: italic;
  font-weight: bolder;
  font-size: 48px;
  line-height: 42px;
  color: #4F759B;
}

/* .log-out{

} */

.timeline {
  float: left;
  position: relative;
  left: 50px;
  z-index: -1;
  top: 140px;

}

.login-button:active,
.login-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .login-button {
    font-size: 24px;
    min-width: 196px;
  }
}


.containerOfHWs {
  margin-right: 0px;
  width: 80%;
  position: relative;
  top: 80px;
  margin-left: 9em;
  padding-bottom: 3em;
  
}

.collapsible {
  background-color: #719FA6;
  margin-bottom: 10px;
  border-radius: 7px;
  position: relative;
  color: #E8E9F3;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  }

iframe {
width: 100%;
height: 100vh;
border-radius: 7px;
}

.active, .collapsible:hover {
background-color: #571F4E;
}

.active {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0em;
}

.content {
padding: 18px;
display: none;
overflow: hidden;
background-color: #E8E9F3;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
left:5vw;
}

.inputBox {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left:30%;

}





.login-button{
width:50%;
visibility: hidden;
/* border: #719FA6; */
/* color: #719FA6; */
margin: 7px;
/* background-color: #5D5179; */
padding: 20px;
border-radius: 8px;
/* font-weight: 500; */
/* font-size: 25px; */
position: relative;
top: 320px;
left: 47px;
/* align-items: center; */
/* background-image: linear-gradient(144deg,#4F759B, #719FA6 50%,#92C9B1); */
/* border: 0; */
/* border-radius: 8px; */
/* box-sizing: border-box; */
/* color: #E8E9F3; */
/* display: flex; */
/* font-size: 20px; */
/* justify-content: center; */
line-height: 1em;
/* max-width: 100%;
min-width: 140px; */
padding: 19px 24px;
/* touch-action: manipulation; */
/* white-space: nowrap; */
z-index: -1;
}

.sign-out-button {
position: absolute;
right: 60px;
top: 170px;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 0px;
color: #4F759B;
border: #719FA6;
 color: #719FA6;
margin: 7px;
 background-color: #5D5179;
padding: 10px;
border-radius: 3px;
 font-weight: 500;
font-size: 25px;
align-items: center;
 background-image: linear-gradient(144deg,#4F759B, #719FA6 50%,#92C9B1);
 border: 0;
 border-radius: 6px;
 box-sizing: border-box;
 color: #E8E9F3;
 display: flex;
 font-size: 20px;
 justify-content: center;
line-height: 1em;
 max-width: 100%;
min-width: 140px;
padding: 19px 24px;
 touch-action: manipulation;
 white-space: nowrap;
z-index: 500;
}

.collapsible:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 13px;
color:#E8E9F3;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.sign-out-button:active,
.sign-out-button:hover {
outline: 0;
}

@media (min-width: 768px) {
.sign-out-button {
font-size: 24px;
min-width: 196px;
}

html {
  overflow-y: scroll;
}
}
